<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="Aurigma\CustomersCanvas\Observer\Auth\CustomerLoginMerge" instance="Aurigma\CustomersCanvas\Observer\Auth\CustomerLoginMerge" />
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="Aurigma\CustomersCanvas\Observer\Cart\CheckoutCartAdd" instance="Aurigma\CustomersCanvas\Observer\Cart\CheckoutCartAdd"/>
    </event>
    <event name="checkout_cart_product_update_after">
        <observer name="Aurigma\CustomersCanvas\Observer\Cart\CheckoutCartUpdate" instance="Aurigma\CustomersCanvas\Observer\Cart\CheckoutCartUpdate"/>
    </event>

    <event name="checkout_submit_all_after">
        <observer name="Aurigma\CustomersCanvas\Observer\Order\SubmitOrder" instance="Aurigma\CustomersCanvas\Observer\Order\SubmitOrder"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="Aurigma\CustomersCanvas\Observer\Order\SaveOrder" instance="Aurigma\CustomersCanvas\Observer\Order\SaveOrder"/>
    </event>
</config>