<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="aurigma_customers_canvas" id="aurigma_customers_canvas">
            <module name="Aurigma_CustomersCanvas"/>
        </route>
    </router>
</config>